.logo{
	vertical-align: middle;
	height: 18vh;
}

.thumbnail{
	height: 80%;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;

}


.headerRow>div{
	display: inline-block;
}

.dropdown-menu{
	overflow: auto;
	max-height:300px;
}

.itemRow>.item-name{
	margin-right: 10px;
	width: 120px;
}
.headerRow>.item-name{
	margin-left: 10px;
	margin-right: 20px;
	width: 100px;
	text-align: center;
	font-weight: bold;
}

.itemRow>.item-total{
	margin-left: 15px;
	margin-right: 15px;
	width: 50px;
	text-align: center;
}

.headerRow>.item-total{
	margin-left: 22px;
	margin-right: 15px;
	width: 50px;
	text-align: center;
	font-weight: bold;
}


 .itemRow>.item-price{
	margin-left: 10px;
	width: 50px;
	margin-right: 10px;
	text-align: center;
}

.headerRow>.item-quantity{
	margin-left: 15px;
	margin-right: 15px;
	width: 10px;
	font-weight: bold;	
}

.itemRow>.item-quantity{
	margin-left: 10px;
	margin-right: 10px;
	width: 10px;
}

.headerRow>.item-price{
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	width: 30px;

	font-weight: bold;	
}

.item-decrement,.item-increment,.item-remove{
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}


.simpleCart_items{
	width: 350px;

}

.itemRow{
	border-bottom: 1px solid #ccc;
}
.itemRow>div{
	display: inline-block;
}

.small>li>a>img{
	height: 35vh !important;
}
hr{
	margin-top: 0;
	margin-bottom: 0;
}
/* Pinterest */

#wrapper {
	max-width: 100vh;
	min-width: 800px;
	margin: auto;
}

#columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}


@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}
.pin>h3{
	margin-bottom: 3px;
}


/* End of Pinterest*/
.pricey{
	font-size: 18px;
	color: ;
}
.item>img{
	width: 100% !important;
	height:100% !important;
}

h1,h2,h3{
	font-family: "Modern Serif Eroded";
}

p,a,div{
	font-family: "American Typewriter";
}

.maps{
	float: left;
	width: 100%;
	height: 50vh;
	margin-bottom: 5vh;
	background-color: white;

}

.leftbit{
	margin-left: 18vh;
}

.sidebar>li{
	float: none;
}

.col-img>div>a>img{
	width: 100%;
}

#firstHeading{
	font-size: 30px;
}

.jumbocol{
	background-color: white;
}

.jumbotron>div>h1{
	font-size: 4vw;
}

.col-img{
	padding-top: 10vh;
}

.listenup{
	display: block;
    margin-left: auto;
    margin-right: auto 

}

.logonav{
	padding-right: 90vh;
	padding-top: 0vh;	
	vertical-align: middle;
	height: 7vh;
}
/* Result Checkout */
.result>.simpleCart_items{
	width: 100% !important;
}

.result>.simpleCart_items>div>div>.headerRow>div,.result>.simpleCart_items>div>.itemRow>div{
	width: 14% !important;
	margin-left: 0;
	margin-right: 0;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

nav ul li a{
	color: black;
}

#myCarousel{
	margin-bottom: 0vh;
}

.jumbotron{
	margin-bottom: 0;
}

.jumbotron{
	height: 100%;
	padding-top: 10vh;
}
.fixed {
	left: 0;
	position: fixed; 
	top: 0;  
	z-index: 1;
	background-color: white;
	width: 100vw;
}

.atasbanget img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
	padding-top: 5%;
	background-color: white;
	color: #505966;
	padding-bottom: 5%;
}

.black{
		line-height: 5vh;	
}

.black>li>a{
		color: #505966;
}

.social{
	padding-left:5vw;
}

.social>li>a>i{
	font-size: 3vw;
	color: #505966;
}

.socialize>li>a>i{
	font-size: 3vw;
	color: #505966;
}

.bolder{
	  border-top: 1px solid #505966;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */